<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjh.withus.mapper.ScheduleMapper">
<insert id="scheduleAdd">
	INSERT INTO schedule
		<include refid="schedule_cols" />
		VALUES
			(nextval(schedule_sp),
			#{schedule_num},
			#{schedule_subject},
			#{schedule_desc},
			#{schedule_date},
			#{schedule_share},
			#{schedule_mycolor}
		)
</insert>

<sql id="schedule_cols">
	(schedule_idx, schedule_num, schedule_subject, schedule_desc,
	schedule_date, schedule_share, schedule_mycolor)
</sql>

<select id="before_schedule_add_search" resultType="int">
	SELECT count(*) FROM schedule WHERE schedule_date = #{schedule_date}
</select>
<select id="scheduleList" resultType="com.bjh.withus.vo.Schedule">
	SELECT
		*
	FROM
		schedule
	WHERE schedule_date &gt;= #{db_startDate} and schedule_date &lt;=#{db_endDate}
	ORDER BY schedule_date, schedule_num, schedule_idx
</select>
<!-- 리스트 가져오기 -->
<select id="get" resultType="com.bjh.withus.vo.Schedule">
<![CDATA[
	SELECT
		*
	FROM
		schedule
	WHERE schedule_idx = #{schedule_idx}
]]>
</select>
<!-- 수정하기 -->
<update id="update">
	UPDATE schedule
	SET
		schedule_num = #{schedule_num},
		schedule_subject = #{schedule_subject},
		schedule_desc = #{schedule_desc},
		schedule_date = #{schedule_date},
		schedule_share = #{schedule_share},
		schedule_mycolor = #{schedule_mycolor},
	WHERE schedule_idx = #{schedule_idx}
</update>

<delete id="delete">
	DELETE FROM schedule WHERE schedule_idx=#{schedule_idx}
</delete>
</mapper>