<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjh.withus.mapper.PhotoMapper">
<select id="selectPhotoList" parameterType="Map" resultType="com.bjh.withus.vo.Photo">
	SELECT 
		photo_no photoNo,
		photo_name photoName,
		photo_img photoImg,
		create_date creatDate,
		update_date updateDate
	 FROM photo ORDER BY create_date DESC
	 LIMIT #{beginRow}, #{ROW_PER_PAGE}
</select>
<select id="selectPhotoTotalCount" resultType="int">
	SELECT COUNT(*)
	FROM photo
</select>
</mapper>