<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjh.withus.mapper.TodoMapper">
<select id="selectTodoListByMonth" resultType="com.bjh.withus.vo.Todo">
	SELECT 
		todo_date todoDate,
		SUBSTR(todo_content,1,5) todoContent5
	FROM todo
	WHERE SUBSTR(todo_date,1,7) = #{todoDate}
	ORDER BY todo_date ASC
</select>
</mapper>